<div class="col">
  <div class="card">
    <div class="card__media card-img-top">
      <a href="{{ card_url }}"><img src="{{ card_image.src }}" alt="{{ card_image.alt }}"></a>
    </div>
    <div class="card__body card-body">
      <h3 class="card__title card-title"><a href="{{ card_url }}">{{ card_heading }}</a></h3>
      <div class="card__date card-text text-muted">{{ card_date }}</div>
      <div class="card__teaser card-text">{{ card_teaser }}</div>
    </div>
  </div>
</div>
